<div class="row col-md-8 col-md-offset-2" id="classroom-title">
  <h1>Classrooms</h1>
</div>

<div class="row col-md-8 col-md-offset-2" id="classrooms">
  <div id="classroom-errors">
    
  </div>
    <ul id="chatroom-index"> 
  <% if @classrooms.any? %>
      <%= render @classrooms%>
  <%else %>
    </ul>
    <p>Be the first one to make a chatroom!</p>
  <% end %>
  
</div>