

<div onLoad="loadOnce()" class="row col-md-8 col-md-offset-2">
  <input id="classroom_id" type="hidden" value=<%=@classroom.id%> ></input>
  <h1><%= @classroom.class_name %></h1>

<div class="panel panel-default">
  <% if @classroom.messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'messages/message', collection: @classroom.messages%>
    </div>
  <%else%>
    <div class="panel-body hidden" id="messages">
    </div>
  <%end%>
</div>


  <%= render partial: 'messages/message_form', locals: {message: @message, classroom: @classroom}%>
  
  <script>
       if (!(window.location.href.indexOf('#') > -1)){
    window.location.href = window.location.href + "#"
    window.location.reload();
    } 
  </script>
</div>